html, body{
	height: 100%;
	width : 100%;
	font-size: 1em;
	font-size: 1vw;
	font-size: 2vh;
}
.jumbotron{
	margin-top: 2%;
	padding-top: 2%;
}
table{
	margin-top: 2%;
}
th,td{
	text-align: center;
}
.gcol{
	color: green;
}
.rcol{
	color: red;
}

